body {
    background-color: beige;
    font-size: 25px;
    font-family: Monaco;
}

#nagłowek {
     text-align: left;
     font-size: 11px;
     margin-left: 20px;
 }

#głowna {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-align: left;
    margin-left: 45%;

}

