body {
    background-color: beige;
    text-align: center;
    font-size: 52px;
    font-family: Arial;
}
ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-align: center;

}