body{
    font-family: Verdana;
}

table{
    border: 1px solid black;
    margin-left: 5px;
    border-spacing: 0px;
    text-align: center;
    background-color: burlywood;
}

td{
    border: 1px black dashed;
    padding: 5px;
}
tr{

}

